body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

button {
	border-radius: 4px;
    padding: 9px;
    color: azure;
    background-color: #282d33;
    border-color: whitesmoke;
    margin: 6px;
    font-size: 21px;
    border: 1px solid turquoise;
    box-shadow: 0px 4px 0px turquoise;
}

button:disabled {
  background-color: #00d6d6;
  box-shadow: 0px 4px 0px rgb(211, 211, 211);
}

button:active {
	transform: translate(0px,5px);
    box-shadow: 0px 0px 0px rgb(211, 211, 211);
	-webkit-transform: translate(0px,5px);
	  border-bottom: 1px solid;
}